@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <div class="col-md-2">
        <a href="https://www.enap.cl/">
            <img style="height:10rem;margin-top:1rem;" src="~/enap.min.png" alt="enap" asp-append-version="true" />
        </a>
    </div>
    <div class="col-md-8">
        <h1 class="display-4">SERVICIO DE REPOBLAMIENTO DE FEÓFITAS EN SUBMAREAL DE BAHÍA QUINTERO CON FINES DE REMEDIACION AMBIENTAL PARA REFINERÍA ACONCAGUA</h1>
        <p>Contáctanos en <a href="http://www.capia.cl/">CAPIA.cl</a>.</p>
    </div>
    <div class="col-md-2">
        <div class="row">
            <a href="http://www.ust.cl">
                <img style="height:7rem;margin-top:1rem;" src="~/ust.min.png" alt="ust" asp-append-version="true"/>
            </a>
        </div>
        <div class="row">
            <a href="http://www.capia.cl">
                <img style="height:4rem;margin-top:1rem;"  src="~/capia.min.png" alt="capia" asp-append-version="true"/>
            </a>
        </div>
        <div class="row">
            <a href="http://www.unap.cl">
                <img style="height:3rem;margin-top:1rem;" src="~/unap.min.png" alt="unap" asp-append-version="true"/>
            </a>
        </div>
        <div class="row">
            <a href="https://www.unab.cl">
                <img style="height:5rem;margin-top:1rem;"  src="~/unab.min.png" alt="unab" asp-append-version="true"/>
            </a>
        </div>
    </div>
</div>
